{% extends "base_plan.html" %}

{% block title %} Planificación {% endblock%}

{% block content %}

<!----------- Project view------ -->
<div id="pro-emp" class="d-flex justify-content-center align-items-center" style="display: none;">
    <h6 id="h6-pro-cal1">Aqui se verán los proyectos creados.</h6>
</div>
<div class="row mx-1">
    <div class="col-lg-4">
        <div id="pro-cal-1" class="border border-1 p-1" style='display: none;'>
            <select class="form-select" multiple aria-label="Multiple select example">
                {% for pro in proyects %}
                    <option value="{{ pro.id }}" onclick="viewFullcalendar(this)">{{ pro.name }}</option>
                {% endfor %}
            </select>
            <div id="buttons_pro" class="mt-2" style="display: block;">
                <button class="btn btn-outline-success mb-1" style="--bs-btn-padding-y: .20rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .65rem;" data-bs-toggle="modal" data-bs-target="#staticWork" data-project-id="">Añadir Tarea</button>
            </div>
        </div>
    </div>
    <div id="pro-date" class="col-8 descrip-info" style="display: none;">
        <table class="table text-center">
            <thead class="bg-body-tertiary">
                <tr>
                    <th scope="col">Ubicación</th>
                    <th scope="col">Tarea</th>
                    <th scope="col">Inicio</th>
                    <th scope="col">Termino</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody id="job_in_proyect" class="borde-bottom"></tbody>
        </table>
    </div>
    <div id="select-proyect" class="col text-center" style="display: none;">
        <h5>Toca el nombre de un proyecto para revisar la programación.</h5>
    </div>
    <div id="empty-calendar" class="col text-center" style="display: none;">
        <h6>No hay trabajos asignados en el Proyecto.</h6>
    </div>
    <div id="calCalendar" class="col" style='display: none;'>
        <div id='calendar'></div>
    </div>
</div>

<script>
    let pro_ject = {{ proyects|tojson }};
    let projAdd = document.getElementById("pro-cal-1");
    let empt = document.getElementById('pro-emp');
    let h6Empt = document.getElementById('h6-pro-cal1');

    if (pro_ject.length === 0) {
      projAdd.style.display = "none";
      empt.style.display = "block";
      h6Empt.style.display = "block";
    } 
    else {
        projAdd.style.display = "block";
        empt.style.display = "none";
        h6Empt.style.display = "none";
    }
</script>


{% endblock%}