{% extends "base_detail.html" %} 

{% block title %} Resumén {% endblock%}

{% block content %}
<div id="main" data-user-id="{{ user.id }}"></div>
<div>
    {% if projects != 0 %}
        {% for project in projects %}
            <button class="btn" data-bs-toggle="collapse" id="tg-card" data-bs-target="#project{{ loop.index }}" style="width: 100%;" data-pro-id="{{ project.id }}" onclick="tg_circuit(this)">{{ project.name }}</button>
            <div class="collapse" id="project{{ loop.index }}"></div>
        {% endfor %}
    {% else %}
        <div class="card card-body border border-dark-subtle" style="width: 100%;">
            <h6>Aquí se mostrará el detalle de tus proyectos.</h6>
        </div>
    {% endif %}
</div>
{% endblock %}


