.main {
  background-color: #f4f2f2;
}

.margin {
    margin-top: 80px;
}


  .input-group-text {
    display: inline-block;
    width: 180px; /* set the desired width here */
    text-align: right; /* align the text to the right */
  }
  
  .navbar {
    height: 50px;
  }


@media (max-width: 576px) {
    .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
}


.col {
  width: 100%;
  margin: 0.5em 0;
}

.h4 {
  font-size: 1.5rem;
}

.h6 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .col {
    width: 50%;
  }
}

.table-header{
  width: 7%;
}

.table-header2{
  width: 5%;
}

.table-header3{
  width: 9%;
}

#fc-dom-1 {
  text-transform: capitalize;
}

.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

.selected {
  background-color: #d0dbef;
}

.descrip-info {
  max-height: 500px; 
  overflow-y: auto; 
  border: 1px solid #ccc;
}

@media (min-width: 1200px) {
  .modal-xl {
    --bs-modal-width: 1300px !important;
  }
}
